
.logo {
    width: 45px;

}

.linkToWebsite {
    color: black;
    font-size: 25px;
}

.links:hover {
    color: black;
}
.links {
    color: black;
    text-decoration: none;
}
.pricing{
    margin-left: 125px;
    margin-right: 125px;
}
.tableZZ{
    min-height: 50px;
    max-height: 50px;
}

