
#header {
    background-color: black;
    opacity: 0.1;
}
.listLink{
     margin-left: 50px;
     text-decoration: none;
     color: white;
 }
#rightSide {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-right: 5%;
}
nav {

    display: flex;
    color: white;
    font-family: SansSerif, sans-serif;
    justify-content: space-between;
    

}
#leftSide {
    display: flex;


}
#itNinjaLogoText {
    display: flex;
    align-items: center;
}
#itNinjaLogo {
    display: flex;
    width: 200px;
}

.links{
    text-decoration: none;
    color: white;
}


body {
    margin: 0 0 0 0;
    background-color: white;

    .popup {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkgrey;
        justify-content: center;
        margin: 10% 10% 10% 10%;

        .popupCookie {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 100px;
            animation-name: fadeIn;
            animation-duration: 2s;

            #agreeButton {
                margin-top: 24%;
                font-size: 30px;
                height: 100px;
                width: 500px;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}








